.select-wrapper {
    max-width: 300px;
    margin: 10px auto;
}

.select-dropdown.dropdown-content li.selected {
    background-color: white !important;
}

.select-dropdown.dropdown-content li:hover {
    background-color: #eeeeee !important;
}

.choose-language {
    margin-top: 40px;
}

.landing-page {
    padding: 20px;
}

.landing-page h6 {
    line-height: 1.6;
}

/*.select-dropdown.dropdown-content li.selected:hover {*/
    /*background-color: #eeeeee !important;*/
/*}*/