.restart-page h6 {
    line-height: 1.6;
}

.restart-page {
    padding: 20px;
}

.restart-page img {
    max-height: 400px;
    margin-top: 20px;
}

.restart-page h5 {
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .restart-page h5 {
        font-size: 1.5rem
    }
}