.level-four img {
    max-height: 400px;
    margin-top: 20px;
    cursor: pointer;
    max-width: 70%;
}

.reactions img {
    height: 70px;
    width: auto;
    cursor: pointer;
    max-width: 100%;
}

.reactions {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta .btn {
    margin: 10px 20px 5px;
}

.cta .start-again {
    order: 2;
    margin-bottom: 15px;
}

.cta .next-object {
    order: 1;
}

.error {
    color: #e51c23;
}

@media screen and (min-width: 600px) {
    .cta .start-again {
        order: 1;
        margin-bottom: 0;
    }

    .cta .next-object {
        order: 2;
    }

    .reactions {
        margin-bottom: 20px;
    }
}

.reactions div {
    margin: 0 30px;
}


