.level-four img {
    max-height: 400px;
    margin-top: 20px;
}

.reactions img {
    height: 70px;
    width: auto;
    cursor: pointer;
}

.reactions {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.reactions div {
    margin: 0 30px;
}

.level-four .btn {
    margin: 0 30px;
}
