.level-one-objects-grid img {
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    max-height: 110px;
    cursor: pointer;
}

.level-one-objects-grid .row {
    display: flex;
    justify-content: center;
}

.level-one-objects-grid .row .col.s4 {
    display: flex;
    margin-left: 0;
    justify-content: center;
}

.level-one-objects-grid .image-grid {
    margin-top: 2em;
}

.level-one-objects-grid .selected {
    border: 3px solid #cccbcb;
    opacity: 0.7;
}


@media screen and (min-width: 1200px) {
    .level-one-objects-grid .row .col.s4 {
        width: 26%;
    }
}

@media screen and (min-width: 600px) {
    .level-one-objects-grid img {
        max-height: 250px;
    }
}